* {
  list-style-type: none !important;
  /* overflow-y: hidden; */
}

.main-container {
  background-color: #faaca8;
  background-image: linear-gradient(168deg, #faaca8 0%, #ddd6f3 100%);
  padding-bottom: 17vh;
}
.shadowcolorbox {
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.eyeopen {
  top: 30%;
  right: 16px;
  width: 6%;
  cursor: pointer;
}

.formSection {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.inner-container {
  /* min-height: 400px; */
  border: 5px solid rgb(209, 205, 205) !important;
  border-radius: 15px;
  background-color: #f6f7f8;
}

.formSection {
  padding: 30px 0px 15px 80px !important;
}

.formOne h1 {
  color: #2573ab;
}

.formInfo {
  padding: 45px 0px 0px 0px !important;
}

.progressStep li {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.heading {
  color: #7f98ed;
}

.progressStep li > span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #9db0ec;
  width: 45px;
  height: 42px;
  margin-right: 20px;
  z-index: 1;
}
.progressStep li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 22px;
  width: 2px;
  height: 70px;
  background-color: rgb(115, 114, 114);
}

li.active > span {
  font-weight: bold;
  background-color: #98acef;
  border: 3px solid white;
  animation: fade 0.3s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form > div {
  max-width: 500px;
  margin: 0 auto;
}

form > div > div {
  display: flex;
  flex-direction: column;
}

form :where(input) {
  height: 50px;
  padding: 0 1em;
  border-radius: 12px;
  border: 1.5px solid black;
  outline: none;
}

form > div:not(.btn-group) {
  display: none;
  animation: show 0.4s ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* 
form > div.active {
  display: block;
} */

.card {
  display: none;
}

.card.active {
  display: block;
}

.btn-group [class*="btn-"] {
  background-color: #408ec6;
  border: 3px solid #1e2761;
  padding: 7px 30px;
  color: white;
  /* outline: none; */
  border: none;
  border-radius: 50px;
  transition: 0.3s linear;
}

.name {
  font-size: 20px;
}
.name span {
  font-size: 14px;
  opacity: 0.8;
}

.btn-group [class*="btn-"]:disabled {
  background-color: gray;
  /* cursor: text; */
}

.btn-group [class*="btn-"]:not(:disabled):hover {
  background-color: #1e2761;
}

.formSection {
  background-color: white !important;
}

.success {
  border: 2px solid green !important;
}

.failed {
  border: 2px solid red !important;
}
